{% extends 'base.html.twig' %}

{% block title %}Wydanie artykułu{% endblock %}

{% block body %}
<nav class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/panel">Magazyn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Magazyn</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/panel">Magazyn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='add'>Przyjęcie artykułu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='history'>Historia przyjęć</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='release'>Wydanie artykułu</a>
          </li>
          {% if is_granted('ROLE_ADMIN') %} 
          <li class="nav-item">
            <a class="nav-link" href="/admin">Panel administratora</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Wyloguj</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

</br>
</br>
</br>
<div>
    <div class="example-wrapper" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    ">
        {{ form_start(form) }}
        <div class="form-outline mb-4">
        {{ form_widget(form.product, {'attr': {'class': 'form-select'}}) }}
        </div>
        <div class="form-outline mb-4">
        <label class="form-label" for="form2Example18">Ilość</label>
        {{ form_widget(form.quantity, {'attr': {'class': 'form-control form-control-lg'}}) }}
        </div>
        <div class="form-outline mb-4">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success btn-lg btn-block'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>



{% endblock %}
