{% extends 'base.html.twig' %}

{% block title %}Dodaj użytkownika!{% endblock %}

{% block body %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/admin/user/add">Dodaj użytkownika</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/warehouse/add">Dodaj magazyn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/product/add">Dodaj produkt</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/user">Użytkownicy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/warehouse">Magazyny</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/panel" tabindex="-1" aria-disabled="true">Panel użytkownika</a>
  </li>
</ul>
</br>
<div>
    <div class="example-wrapper" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    ">
        {{ form_start(form) }}
        <div class="form-outline mb-4">
        <label class="form-label" for="form2Example18">Nazwa użytkownika</label>
        {{ form_widget(form.username, {'attr': {'class': 'form-control form-control-lg'}}) }}
        </div>
        <div class="form-outline mb-4">
        <label class="form-label" for="form2Example18">Hasło</label>
        {{ form_widget(form.password, {'attr': {'class': 'form-control form-control-lg'}}) }}
        </div>
        <div class="form-outline mb-4">
        {{ form_widget(form.warehouse, {'attr': {'class': 'form-select'}}) }}
        </div>
        <div class="form-outline mb-4">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success btn-lg btn-block'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
